:root {
    --Scissors-Gradient: hsl(39, 89%, 49%);
    --Paper-Gradient: hsl(230, 89%, 62%);
    --Rock-Gradient: hsl(349, 71%, 52%);
    --Lizard-Gradient: hsl(261, 73%, 60%);
    --Radial-Gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --Cyan: hsl(189, 59%, 53%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: var(--Radial-Gradient);
    padding: 50px;
    @media (max-width: 843px) {
        padding: 0;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .rules-modal {
        z-index: 1;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 50px;
        display: none;
        flex-direction: column;
        gap: 50px;
        border-radius: 10px;

        .rules-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .rules-title {
                flex: 1 1;

                h2 {
                    font-size: 24px;
                }
            }
            .close-rules {
                width: 30px;
                height: 30px;
                position: relative;
                cursor: pointer;

                span {
                    position: absolute;
                    top: 12px;
                    right: 4px;
                    display: flex;
                    width: 20px;
                    height: 3px;
                    background-color: #00000050;

                    &:nth-child(1) {
                        rotate: 45deg;
                    }
                    &:nth-child(2) {
                        rotate: -45deg;
                    }
                }
            }
        }
        .rules-main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .rules {
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: 843px) {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        button {
            width: 120px;
            height: 40px;
            border-radius: 10px;
            background-color: var(--Radial-Gradient);
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
        }
    }

    .content-wrapper {
        width: 50%;
        height: 721px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        @media (max-width: 1060px) {
            width: 100%;
            
        }
        @media (max-width: 843px) {
            gap: 0;
            padding: 10px;

        }
        @media (max-width: 400px) {
            padding: 0;
        }

        header {
            width: 100%;
            height: fit-content;
            padding: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            border: 2px solid var(--Header-Outline);
            @media (max-width: 400px) {
                border: none;
            }

            .logo-wrapper {
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }

            .score-board {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 20px 60px;
                background-color: #fff;
                border-radius: 10px;

                h3 {
                    color: var(--Score-Text);
                }

                p {
                    font-size: 50px;
                    color: var(--Dark-Text);
                }
            }
        }

        main {
            width: 840px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 843px) {
                width: 100%;
            }
            @media (max-height: 670px) {
                height: 450px;
            }

            .user-choese {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                @media (max-width: 843px) {
                    width: 375px;
                }

                .pentagon {
                    width: 320px;
                    height: auto;
                }

                .scissors, .paper, .rock, .lizard, .spock {
                    width: 140px;
                    height: 140px;
                    background-color: #fff;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 50%;
                    @media (max-width: 843px) {
                        width: 100px;
                        height: 100px;
                        padding: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .scissors {
                    border: 20px solid var(--Scissors-Gradient);
                    position: absolute;
                    left: 50%;
                    top: 50px;
                    transform: translateX(-50%);
                }
    
                .paper {
                    border: 20px solid var(--Paper-Gradient);
                    border-radius: 100%;
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transform: translateY(-40%);
                }
    
                .rock {
                    border: 20px solid var(--Rock-Gradient);
                    border-radius: 100%;
                    position: absolute;
                    right: 10%;
                    bottom: 50px;
                    transform: translateX(-10%);
                }
    
                .lizard {
                    border: 20px solid var(--Lizard-Gradient);
                    border-radius: 100%;
                    position: absolute;
                    left: 20%;
                    bottom: 50px;
                    transform: translateX(-20%);
                }
    
                .spock {
                    border: 20px solid var(--Cyan);
                    border-radius: 100%;
                    position: absolute;
                    left: 0;
                    top: 40%;
                    transform: translateY(-40%);
                }
            }

            .play-screen {
                width: 100%;
                height: 100%;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .time-screen {
                    width: 100%;
                    display: none;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 80px;
                        color: #fff;
                    }
                }

                .picks {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .user-pick {
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        border: 20px solid var(--Rock-Gradient);
                        padding: 50px;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            inset: 0;
                            object-fit: contain;
                        }
                    }

                    .result-screen {
                        width: fit-content;
                        height: 100%;
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-size: 50px;
                            color: #fff;
                        }

                        button {
                            width: 200px;
                            height: 40px;
                            border-radius: 10px;
                            font-size: 14px;
                            letter-spacing: 3px;
                            color: var(--Dark-Text);
                            cursor: pointer;
                        }
                    }

                    .computer-pick {
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        border: 20px solid var(--Lizard-Gradient);
                        padding: 50px;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            display: none;
                            width: 100%;
                            height: 100%;
                            inset: 0;
                            object-fit: contain;
                        }
                    }
                }
            }
            
        }
    }
}